# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Logs
*.log

# Node.js
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Ollama / Models
models/

# Temporary files
tmp/
cache/
*.save
*.save.*
*.code-workspace
